<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-violeta" data-toggle="modal" data-target="#exampleModal">Nuevo <i
            class="material-icons">add</i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Productos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Referencia</th>
                  <th>Precio</th>
                  <th>Categoría</th>
                  <th>Acciones</th>
                </thead>
                <tbody>
                  <tr *ngFor="let number of numbers">
                    <td>Labial</td>
                    <td>Producto Premium Importado de varios colores</td>
                    <td>0028</td>
                    <td>$15,99</td>
                    <td>Labiales</td>
                    <td>
                      <a href="#"><i class="material-icons">edit</i></a>
                      <a [routerLink]="" (click)="[showDelete()]"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs bg-violeta" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
              aria-selected="true">Información general</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
              aria-selected="false">Variantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contract-tab" data-toggle="tab" href="#contract" role="tab" aria-controls="contract"
              aria-selected="false">Fotos</a>
          </li>
        </ul>

        <form action="#">
          <div class="tab-content pt-4" id="myTabContent">

            <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
               <div class="row" [formGroup]="formLogin">
                    <div class="mb-20 col-md-6">
                        <input type="text" id="user" formControlName="email" required class="form-control " placeholder="Nombre">
                    </div>
                    <div class="mb-20 col-md-6">
                        <input type="text" id="user" formControlName="email" required class="form-control " placeholder="Referencia">
                    </div>
                    <div class="mb-20 col-md-6">
                        <input type="text" id="user" formControlName="email" required class="form-control " placeholder="Precio">
                    </div>
                    <div class="mb-20 col-md-6">
                        <select class="form-control" formControlName="tipoDoc">
                            <option disabled>Categoría</option>
                            <option>Joyería</option>
                          </select>
                    </div>
                    <div class="col-md-12">
                        <textarea formControlName="password" id="password" required class="form-control " placeholder="Descripción"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
            </div>
            <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="contract-tab">
    

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar <i
            class="material-icons">cancel</i></button>
        <button type="button" class="btn btn-violeta">Guardar <i class="material-icons">check</i></button>
      </div>
    </div>
  </div>
</div>