<div class="container m-2 animated fadeIn">
    <div class="text-center col-12 mb-15 p-15">
        <h1><b>REALIZA TU PEDIDO</b></h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row col-12 mb-15">
                <div class="col-6 text-center"> 
                    <b>< 1 2 3 4 5 ></b> 
                </div>
                <div class="col-6 text-center">
                    <select class="form-control">
                        <option disabled>ORDENAMIENTO</option>
                        <option>Reelevancia</option>
                        <option>Precio</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-4">
                <div class="row col-12 mb-15">
                    <div class="col-12">
                        <small class="mr-15">FILTRAR POR:</small>
                        <button class="btn-violeta">LIMPIAR</button>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-12">
                        <h5 class="head-filter"><b>Categoría</b></h5>
                        <ul>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h5 class="head-filter"><b>Categoría</b></h5>
                        <ul>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h5 class="head-filter"><b>Categoría</b></h5>
                        <ul>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                            <li>
                                <input type="checkbox"> <span>Sub categoría 1</span> <span>(10)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row col-12">
                    <div class="col-12 mb-15"><b>Mostrando 147 resultados</b></div>
                    <div class="col-12">
                        <div class="row col-12 p-0 m-0 mb-15-important">
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                        </div>

                        <div class="row col-12 p-0 m-0 mb-15-important">
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                        </div>

                        <div class="row col-12 p-0 m-0 mb-15-important">
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                            <div class="col-4 text-center p-10">
                                <div class="mb-10">
                                    <img src="/assets/img/perfume.png" class="responsive-img " alt="">
                                </div>
                                <div>
                                    <span>Nombre del producto</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>